# Vendor software (large downloads, redistribution unclear) - see the
# README.md inside the folder for where to download them
WTR MAX+GEM12+ PRO Screen Software/*
!WTR MAX+GEM12+ PRO Screen Software/README.md

# macOS
.DS_Store
